#contact{  
    padding: 90px;
    text-align: center;
    background-image: url('https://c4.wallpaperflare.com/wallpaper/246/582/347/evening-europe-tower-bridge-london-wallpaper-preview.jpg');
    background-size: cover;
    height: 12cm;  
    
  }
  
  
  #d{
    border: 0.06cm solid black;
    border-radius: 0.5cm;
    height: 1cm;
  }
  #e{
    border: 0.06cm solid black;
    border-radius: 0.5cm;
    height: 1cm;
  }
  #f{
    border: 0.06cm solid black;
    border-radius: 0.5cm;
    height: 1cm;
  }
  #g{
    border: 0.06cm solid black;
    border-radius: 0.5cm;
    height: 1cm;
  }